#========================================================================================================================
# https://github.com/ophub/amlogic-s9xxx-openwrt
# Description: Use Releases file to packaging
# Cron: min (0 - 59) / hour (0 - 23) / day of month (1 - 31) / month (1 - 12) / day of week (0 - 6)(Sunday - Saturday)
#========================================================================================================================

name: 快速打包

on:
  repository_dispatch:
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Get OpenWrt firmware
      id: build
      if: (!cancelled())
      run: |
        wget -q -P openwrt-armvirt https://github.com/xrcuo/Actions-OpenWrt-N1/releases/download/w/openwrt-armvirt-64-generic-rootfs.tar.gz
    
    - name: 打包内核
      uses: unifreq/openwrt_packit@master
      env:
        WHOAMI: deng
        OPENWRT_ARMVIRT: openwrt-armvirt/*.tar.gz
        PACKAGE_SOC: s905d
       # KERNEL_AUTO_LATEST: false
       # KERNEL_REPO_URL: https://github.com/quanjindeng/Actions_OpenWrt-Amlogic/tree/main/kernel
        KERNEL_VERSION_NAME: 6.1.27_5.4.242_5.10.178_5.15.110

    - name: 发布固件
      uses: ncipollo/release-action@v1
      with:
        tag: openwrt_armvirt_${{ env.PACKAGED_OUTPUTDATE }}
        artifacts: ${{ env.PACKAGED_OUTPUTPATH }}/*
        allowUpdates: true
        token: ${{ secrets.GITHDSQ_TOKEN }}
        body: |
          ### **适用于Amlogic平台的N1盒子OpenWrt固件--精简版（）**
          * **固件信息：**
          默认IP: `192.168.2.24`
          默认用户名: `root`
          默认密码: `password`
          
